<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProsperiBank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/styles/styleRedes.css">
</head>
<body>
  <header>

    <!-- logo empresa  -->
    <div class="px-3 py-2 text-bg-dark border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/index.html" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
              <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
              <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z"/>
            </svg>
            ProsperiBank
          </a>
          <!-- fin logo -->

          <!-- inicio lista seleccion -->
          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/index.html" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                Inicio
              </a>
            </li>
            <li>
              <a href="/src/views/quienesSomos.html" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                Quienes somos
              </a>
            </li>
            <li>
              <a href="/src/views/productos.html" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                Products
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        <div class="text-end">
          <a href="Registrer.html">
          <button type="button" id="miBoton" class="btn btn-light text-dark me-2" >Registrate e inicia sesión</button>
        </a>
        </div>
      </div>
    </div>
  </header>
<main>

  <section>
        <div class="container mt-5"> <div class="row"> 
          <div class="col text-center"> <h1>Quiénes Somos</h1> <p class="lead">En Banco ProsperiBank, estamos comprometidos con tu futuro financiero.</p> </div> 
        </div> 
          <div class="row mt-5"> 
          <div class="col-md-4 text-center"> <i class="mission-icon fas fa-bullseye"></i> <h3>Nuestra Misión</h3> <p>Proveer servicios financieros innovadores que impulsen el éxito y la prosperidad de nuestros clientes.</p> 
            </div>
          <div class="col-md-4 text-center"> <i class="mission-icon fas fa-eye"></i> <h3>Nuestra Visión</h3> <p>Ser el banco líder en innovación y confianza, reconocido por nuestro compromiso con la excelencia y el servicio al cliente.</p> 
           </div> 
          <div class="col-md-4 text-center"> <i class="mission-icon fas fa-heart"></i> <h3>Nuestros Valores</h3> <p>Integridad, innovación, servicio al cliente y responsabilidad social son los pilares que guían todas nuestras acciones.</p> 
          </div> 
        </div> 
          <div class="row mt-5"> 
            <div class="col text-center"> <h2>Nuestra Historia</h2> <p>Banco ProsperiBank fue fundado en 1990 con la visión de crear un banco que no solo ofreciera productos financieros, sino que también contribuyera al bienestar de la comunidad. A lo largo de los años, hemos crecido y evolucionado, adaptándonos a las necesidades cambiantes de nuestros clientes y el mercado.</p> 
            </div> 
          </div> 
          <div class="row mt-5"> <div class="col text-center"> <h2>Nuestro Equipo</h2> <p>Contamos con un equipo de profesionales apasionados y dedicados a ofrecerte el mejor servicio. Nuestra prioridad es tu satisfacción y éxito financiero.</p> 
          </div> 
        </div> 
      </div>
  </section>
</main>




  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>